<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">
    <!-- panel -->
    <div class="uk-width-1-1@l">
      <div class="uk-card uk-card-default uk-card-large uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto">
              <h4>Application Forms</h4>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <table class="uk-table uk-table-small uk-table-divider">
            <thead>
              <tr>
                <th>Date</th>
                <th>Full Name</th>
                <th>Network Name</th>
                <th>Country of citizenship</th>
                <th>Current residence</th>
                <th>Date of Birth</th>
                <th>Job title</th>
                <th>Company name</th>
                <th>Company Industry</th>
                <th>E-mail</th>
                <th>Phone Number</th>
                <th>Bio</th>
                <th>All sessions are conducted in English, so full fluency in English is critical. If English is not
                  your native language, how would you describe your ability to communicate in English?</th>
                <th>Bio</th>
              </tr>
            </thead>
            <tbody>
              {{#logData}}
              <tr>
                <td>{{ formatDate createdAt}}</td>
                <td>{{ entryPoint }}</td>
                <td>{{ ip }}</td>
                <td>{{ country }}</td>
                <td>{{ city }}</td>
                <td>{{ browser }}</td>
                <td>{{ userAgent }}</td>
              </tr>
              {{/logData}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /CONTENT -->